.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.navigationLinks {
  display: flex;
}

.navigationLinks a {
  margin: 0 1rem 0 1rem;
}

.logo {
  max-width: 3rem;
  cursor: pointer;
}

a {
  font-family: var(--text-font);
  font-weight: light;
  cursor: pointer;
  text-decoration: none;
  color: var(--main-color);
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
